#Example Literals with implict typecasting(Type Coercion)

#1. Type Casting:
 In type casting, a data type is converted into another data type by the programmer using the casting operator during the program design. In type casting, the destination data type may be smaller than the source data type when converting the data type to another data type, that's why it is also called narrowing conversion.
#2. Type conversion :
  In type conversion, a data type is automatically converted into another data type by a compiler at the compiler time. In type conversion, the destination data type cannot be smaller than the source data type, that's why it is also called widening conversion. One more important thing is that it can only be applied to compatible data types.

#Type casting,
also known as type conversion, refers to the process of changing the data type of a variable from one type to another. In Python, type casting can be broadly categorized into two types: implicit and explicit.
#Implicit Type Casting

Implicit type casting, also known as coercion, is performed automatically by the Python interpreter. This usually occurs when performing operations between different data types. Python avoids data loss by converting "smaller" data types to "larger" ones

#Explicit Type Casting

Explicit type casting, also known as type casting, is performed manually by the programmer using built-in functions. This is useful when you need to convert between types that Python cannot implicitly convert. Some common type casting functions in Python include: int(): Converts to an integer, float(): Converts to a float, str(): Converts to a string, and bool(): Converts to a boolean.

#Type coercion,
 also known as implicit type conversion, is the automatic conversion of a value from one data type to another by the Python interpreter. This usually happens when performing operations involving different data types.

In [3]:
name="Sharry"
rollno=1
gender='M'
fee=12.12
print(name)
print(rollno)
print(gender)
print(fee)

print(type(name))
print(type(rollno))
print(type(gender))
print(type(fee))

print(id(rollno))
print(id(name))
print(id(gender))
print(id(fee))

Sharry
1
M
12.12
<class 'str'>
<class 'int'>
<class 'str'>
<class 'float'>
10757736
133600398542448
10802656
133600408425328

In [4]:
help(type)

Help on class type in module builtins:

class type(object)
 |  type(object) -> the object's type
 |  type(name, bases, dict, **kwds) -> a new type
 |
 |  Methods defined here:
 |
 |  __call__(self, /, *args, **kwargs)
 |      Call self as a function.
 |
 |  __delattr__(self, name, /)
 |      Implement delattr(self, name).
 |
 |  __dir__(self, /)
 |      Specialized __dir__ implementation for types.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __instancecheck__(self, instance, /)
 |      Check if an object is an instance.
 |
 |  __or__(self, value, /)
 |      Return self|value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __ror__(self, value, /)
 |      Return value|self.
 |
 |  __setattr__(self, name, value, /)
 |      Implement setattr(self, name, value).
 |
 |  __sizeof__(self, /)
 |      Return memory consumption of the type object.
 |
 |  __subclasscheck__(self, subclass, /)
 |      Check if a class is a subclass.
 |
 |  __subclasses__(self, /)
 |      Return a list of immediate subclasses.
 |
 |  mro(self, /)
 |      Return a type's method resolution order.
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  __prepare__(...)
 |      __prepare__() -> dict
 |      used to create the namespace for the class statement
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs)
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  __abstractmethods__
 |
 |  __annotations__
 |
 |  __dict__
 |
 |  __text_signature__
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __base__ = <class 'object'>
 |      The base class of the class hierarchy.
 |
 |      When called, it accepts no arguments and returns a new featureless
 |      instance that has no instance attributes and cannot be given any.
 |
 |
 |  __bases__ = (<class 'object'>,)
 |
 |  __basicsize__ = 904
 |
 |  __dictoffset__ = 264
 |
 |  __flags__ = 2148031744
 |
 |  __itemsize__ = 40
 |
 |  __mro__ = (<class 'type'>, <class 'object'>)
 |
 |  __weakrefoffset__ = 368

In [5]:
help(id)

Help on built-in function id in module builtins:

id(obj, /)
    Return the identity of an object.

    This is guaranteed to be unique among simultaneously existing objects.
    (CPython uses the object's memory address.)

#example variable : variable is a memory place holder for unknown values

#Variable with implicit type casting
because input() is a function that returns string value

In [6]:
name=input("Enter your name:")
rollno=input("Enter your rollno:")
gender=input("Enter your gender:")
fee=input("Enter your fee:")

print(name)
print(rollno)
print(gender)
print(fee)

print(type(name))
print(type(rollno))
print(type(gender))
print(type(fee))

print(id(rollno))
print(id(name))
print(id(gender))
print(id(fee))

Enter your name:sharry
Enter your rollno:1
Enter your gender:M
Enter your fee:123.123
sharry
1
M
123.123
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
10801088
133599218494128
10802656
133599218943408

#Example variable with explicity type casting using int(), float() pre defined explicit type casting  functions

In [7]:
name=input("Enter your name:")
rollno=int(input("Enter your rollno:"))
gender=input("Enter your gender:")
fee = float(input("Enter your fee:"))

print(name)
print(rollno)
print(gender)
print(fee)

print(type(name))
print(type(rollno))
print(type(gender))
print(type(fee))

print(id(rollno))
print(id(name))
print(id(gender))
print(id(fee))

Enter your name:sharry
Enter your rollno:12
Enter your gender:M
Enter your fee:12.11
sharry
12
M
12.11
<class 'str'>
<class 'int'>
<class 'str'>
<class 'float'>
10758088
133599512417584
10802656
133599220960784

#Example placeholder using datatype format characters

In [9]:
name=input("Enter your name:")
rollno=int(input("Enter your rollno:"))
gender=input("Enter your gender:")
fee = float(input("Enter your fee:"))

print("Student Name=%s"%name)
print("Student Rollno=%d"%rollno)
print("Student Gender=%c"%gender)
print("Student Fee=%f"%fee)

Enter your name:sharry
Enter your rollno:12
Enter your gender:M
Enter your fee:23
Student Name=sharry
Student Rollno=12
Student Gender=M
Student Fee=23.000000

#format()

In [11]:
name=input("Enter your name:")
rollno=int(input("Enter your rollno:"))
gender=input("Enter your gender:")
fee = float(input("Enter your fee:"))

print("Student Name={0} \n Student Rollno={1} \n Student Gender={2} \n Student Fee={3}".format(name,rollno,gender,fee))

Enter your name:sharry
Enter your rollno:12
Enter your gender:M
Enter your fee:12.12
Student Name=sharry
 Student Rollno=12
 Student Gender=M
 Student Fee=12.12

# f-strings
are string literals that have an f before the opening quotation mark. They can include Python expressions enclosed in curly braces. Python will replace those expressions with their resulting values. So, this behavior turns f-strings into a string interpolation tool

F-strings, short for "formatted string literals," are a way to embed expressions inside string literals for formatting in Python. Introduced in Python 3.6, they provide a concise and readable syntax for string interpolation.
To create an f-string, you prefix a string with f or F. Inside the string, you can include expressions within curly braces {}. These expressions are evaluated at runtime, and their values are inserted into the string.

In [12]:
name=input("Enter your name:")
rollno=int(input("Enter your rollno:"))
gender=input("Enter your gender:")
fee = float(input("Enter your fee:"))

print(f"Student Name={name} \n Student Rollno={rollno} \n Student Gender={gender} \n Student Fee={fee}")

Enter your name:sharr
Enter your rollno:12
Enter your gender:m
Enter your fee:12.12
Student Name=sharr
 Student Rollno=12
 Student Gender=m
 Student Fee=12.12

#sep parameter in print()

In [13]:
name=input("Enter your name:")
rollno=int(input("Enter your rollno:"))
gender=input("Enter your gender:")
fee = float(input("Enter your fee:"))

print("Student Name=",name)
print("Student Rollno=",rollno)
print("Student Gender=",gender)
print("Student Fee=",fee)

Enter your name:shakrarpoyu
Enter your rollno:1
Enter your gender:M
Enter your fee:12.12
Student Name= shakrarpoyu
Student Rollno= 1
Student Gender= M
Student Fee= 12.12

In [15]:
print('G','F', sep='', end='')
print('G')
#\n provides new line after printing the year
print('09','12','2016', sep='-', end='\n')

print('prtk','agarwal', sep='', end='@')
print('canada.com')

GFG
09-12-2016
prtkagarwal@canada.com

In [16]:
#import the below module and see what happens
import antigravity
#NOTE - it wont work on online ide

In [18]:
a=10
b=20
print("Sum of two=",a+b)
print("Sum of two="+str(a+b))

Sum of two= 30
Sum of two=30

In [19]:
ch= 'A'
print(ord(ch))

65

In [20]:
a=65
print(chr(a))

A