In [1]:
import sys

#The sys.getsizeof() Built-in Function
The standard library's sys module provides the getsizeof() function. That function accepts an object (and optional default), calls the object's sizeof() method, and returns the result

In [3]:
name="gagan"
rollno=1
print(name)
print(sys.getsizeof(name))
print(rollno)
print(sys.getsizeof(rollno))

gagan
54
1
28

In [4]:
print(sys.getsizeof(5))

28

In [5]:
sys.getsizeof('')
49
sys.getsizeof('1')
50
sys.getsizeof('12')
51
sys.getsizeof('123')
52
sys.getsizeof('1234')
53

53

In [7]:
sys.getsizeof(bytes())

33

In [8]:
sys.getsizeof([])

56

In [9]:
sys.getsizeof([1])

64

In [10]:
sys.getsizeof([1, 2])

72

In [11]:
sys.getsizeof(())

40

In [12]:
sys.getsizeof((1,))

48

In [13]:
sys.getsizeof((1,2,))

56

In [14]:
sys.getsizeof(set())

216

In [16]:
sys.getsizeof(set([1]))

216

In [17]:
sys.getsizeof({})

64

#Operators and Operand in Python Programming

#Operators in Python:
 Like other programming languages python also implements the concepts of operators. Operators are special symbols that represent operations like addition, multiplication etc.

Operand: The values required by the operator to operate is called operand.

Following are some valid expressions:


32+20          hour-1         hour*60+minutes


When the variable name appears at the place of an operand, it is replaced with its (variable) value. Like as you see above three examples are there. The first one is very clear ie. 32+20 but the second one little bit confusing because itâ€™s showing hour-1. It does not return any meaning here, what does hour indicate?. I will let you know that here hour is a variable whose value can be 2,3,4 or anything.

#Priority of Operations:
 In most cases, sometimes more than one operator appears in an expression, In that case, the order of operator evaluation depends upon rules of Precedence. Python follows the same precedence rules for its mathematical operators that mathematics does. We follow the

#PEMDAS

 acronym to remember that order of operations.

#P: Parenthesis have the highest precedence.
#E: Exponent has the next highest precedence.
#M: Multiplication and division have the same precedence.
#S: Precedence of subtraction and addition is next to the multiplication and division.

#Types of Operators in Python

#Python Arithmetic Operators

Arithmetic operations in Python are used to perform mathematical operations. Some of the mathematical operations are addition, subtraction and multiplication etc.

#Operator	Name	Example	Output

+Addition	1+1	2

â€“Subtraction	3-2	1

**Multiplication	2*2	4

/Division (returns quotient)	10/2	5

%	Modulus (returns remainder)	4%3	1

**	Exponentiation	2**3	8

//	Floor Division	5//2	2

In [18]:
a=10
b=3
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a%b)
print(a**2)
print(a//b)

13
7
30
3.3333333333333335
1
100
3

#Predefine module operator

In [21]:
import operator as O
a=10
b=3
print(O.add(a,b))
print(O.sub(a,b))
print(O.mul(a,b))
print(O.truediv(a,b))
print(O.floordiv(a,b))
print(O.mod(a,b))
print(O.pow(a,2))

13
7
30
3.3333333333333335
3
1
100

#Assignment Operators in Python
Assignment operations in Python are mainly used to assign some values to variables. A very simple assignment operation is x = 10 that assigns value 10 to variable x.

There are many assignment operators in Python i.e x *= 5. This operation is same as x = x*5

In [23]:
a=10
print(a)
a=a+10
print(a)
a+=10
print(a)

10
20
30

In [24]:
a=10
print(a)
O.iadd(a,10)

10

20

#Comparison Operators in Python

Comparison operators are used to compare two values. If returns the result as True or False. Suppose we have two variables a and b. If both values of both variables are equal to each other then it returns the result as True and if the values of both differ from each other then it returns False.

#Operator	Name	Example

==	Double Equal	x == y

!=Not Equal	x != y

>Greater than	x > y

<Less than	x < y

>=Greater than or equal to	x <= y

<=Less than or equal to	x <= y

#Logical Operators in Python

Logical operators in Python are used in combining conditional statements. It also returns True or False based on conditions. It works on the principle of Logic gates

#Operator	Output	Syntax

and	Returns True if both statements are true	x < 5 and x < 10

or	Returns True if one of the statement is true	x < 5 or x < 4

not	Reverse the result, returns False if the result is true	not(x < 5 and x < 10)

In [27]:
a =int( input("Enter number: "))
print(a,' * 1 =',a*1)
print(a,' * 2 =',a*2)

Enter number: 6
6  * 1 = 6
6  * 2 = 12

In [28]:
a =int( input("Enter number: "))
print("%d * %d = %d"%(a,1,a*1))
print("%d * %d = %d"%(a,2,a*2))

Enter number: 3
3 * 1 = 3
3 * 2 = 6

In [30]:
a =int( input("Enter number: "))
print(f"{a}*1={a*1}")
print(f"{a}*2={a*2}")

Enter number: 6
6*1=6
6*2=12

In [31]:
a=int(input("Enter Your First Number="))
b=int(input("Enter Your Second Number="))
print("Value of a before swap=",a)
print("Value of b before swap=",b)
a=a+b
b=a-b
a=a-b
print("Value of a after swap=",a)
print("Value of b after swap=",b)

Enter Your First Number=19
Enter Your Second Number=29
Value of a before swap= 19
Value of b before swap= 29
Value of a after swap= 29
Value of b after swap= 19

In [32]:
a=int(input("Enter Your First Number="))
b=int(input("Enter Your Second Number="))
print("Value of a before swap=",a)
print("Value of b before swap=",b)
a=a^b
b=a^b
a=a^b
print("Value of a after swap=",a)
print("Value of b after swap=",b)

Enter Your First Number=10
Enter Your Second Number=20
Value of a before swap= 10
Value of b before swap= 20
Value of a after swap= 20
Value of b after swap= 10

#Bitwise Operators


The are a few number system. Among which we usually use the decimal numbers (i.e. 1, 2,3, .... ). And there is also something called 'Binary Numbers'(i.e. '0' and '1').

Say for example, if we convert the decimal number '5' to Binary, it is '101'.

'0' and '1' are also called as 'Bit'. And the operator that we are going to use, deals with 'Bits'.

#Operator	Name	Example

&	AND	x & y

|	OR	x | y

~	NOT	~x

^	XOR	x ^ y

>>Right Shift	x >>

<<Left Shift	x <<

#The Operator '&' or 'AND'

The '&' Operator checks, if both the bits are '1' then it returns '1' else it returns '0'.

In [33]:
x = 5
y = 2
z = x & y
print(z)

0

So, what Python does internally is, converts both the numbers (i.e. '5' and '2') to binary.

The binary equivalent of '5' is '101'

And the binary equivalent of '2' is '10'

Now, if we calculate the '&' of '5' and '2'.

101

010

------
000

And we got the output '000' because we could only get a '1' if both are '1'.

But in this case, '1 & 0' is '0', '0 & 1' is '0' and '1 & 0' is also '0' i.e. '000'.

And if we convert '000' to decimal we get '0' as output.

#The Operator '|' or 'OR'

The '|' Operator checks, if either one of the bits is '1' then it returns '1' else it returns '0'.

In [34]:
x = 5
y = 2
z = x | y
print(z)

7

#So, what Python does internally is,
 converts both the numbers (i.e. '5' and '2') to binary.

The binary equivalent of '5' is '101'

And the binary equivalent of '2' is '10'

Now, if we calculate the '|' of '5' and '2'.

101

010
------

111

And we got the output '111' because we can get a '1' if either of the bits are '1'.

But in this case, '1 | 0' is '1', '0 | 1' is '1' and '1 | 0' is also '1' i.e. '111'.

And if we convert '111' to decimal, it is '7'.

#The Operator '~' or '' NOT

The '~' Operator or 'not', simply converts '1's to '0's and '0's to '1's.

In [35]:
x = 5
z = ~x
print(z)

-6

If we look at the output, it looks a little weird. Where on earth did '-6' come from.

Well! Let us not get much deeper into it and understand a simple formula.

i.e.

~x can be written as '-x-1' or '-(x+1)'

~x = -(101 + 1)

101
1
------
110

The decimal equivalent of '110' is 6.

So, â€ƒ~x = -6

#The Operator '^' or 'XOR'

The '^' or 'XOR'/'eXclusive OR' is almost same as the 'OR' Operator. The only difference is, if both are '1' it returns '0'. Else for '1' and '0' or '0' and '1' it returns '1'.

In [36]:
x = 5
y = 4
z = x ^ y
print(z)

1

So, what Python does internally is, converts both the numbers (i.e. '5' and '2') to binary.

The binary equivalent of '5' is '101'

And the binary equivalent of '2' is '100'

Now, if we calculate the '|' of '5' and '2'.

~x = -(101 + 1)

101
^100
------
001

And we got the output '001' because '1 ^ 1' is '0', '0 ^ 0' is '0' and '1 ^ 0' is '1'

i.e. '001'.

And if we convert '001' to decimal, it is '1'.

Just note that '1 ^ 1' is '0' and not '1'.

#The Operator '>>' or 'Right Shift'

The '>>' Operator or 'Right Shift', simply shifts bits to the right by number of positions specified.

#Membership Operators


Say we have 100 Names in a list and you want to check, if a particular name is present in the list or not.

Well! Membership Operators comes handy in such case.

There are two Membership Operators in Python. i.e. 'in' and 'not in'.

Operator	Description	Example

in	Used to search a particular data from a collection of data	5 in x

not in	'not in' operator is just the opposite of 'in' operator	5 not in x

In [37]:
x = ["John", "Keith", "Manohar", "Salim"]
print("Manohar" in x)

True

In [38]:
x = ["John", "Keith", "Manohar", "Salim"]
print("Manohar" not in x)

False

#Identity Operators


Just remember, all the values we store in Python are actually stored in a Memory location.

Now, if you want to check, if two values are stored in the same Memory location, Identity Operators are used.

There are just two Identity Operators, 'is' and 'is not'.

#Operator	Description	Example
is	Returns True, if both the Variables belongs to the same Memory location	x is y

is not	Just the opposite of 'is' operator	x is not y

In [41]:
x = [5,2]
y = [5,2]
z = y
print(x is y)
print(y is z)
print(O.is_(x,y))

False
True
False

In [40]:
x = [5,2]
y = [5,2]
z = y
print(x is not y)
print(y is not z)

True
False

Python is one of the most widely used programming languages, renowned for its simplicity and powerful capabilities. One of the key features of Python is its dynamic typing system, where the data type of a variable is determined automatically based on the value it holds, unlike programming languages such as Java, C, or C++, which require explicit declaration of data types. In Python, data types are classified into two broad categories:

#Mutable Data Types â€“
 These are data types whose values can be modified after they are created. Examples: List, Dictionary, Set

#Immutable Data Types â€“
 These are data types whose values cannot be altered once they are set. Examples: String, Tuple

In [42]:
a=10
print(a)
print(id(a))
a=a+20
print(a)
print(id(a))

10
10758024
30
10758664

In [45]:
L=[10,20,30,40,50]
print(L)
print(id(L))
L+=[100]
print(L)
print(id(L))
L.append(500)

print(L)
print(id(L))

[10, 20, 30, 40, 50]
132022941366208
[10, 20, 30, 40, 50, 100]
132022941366208
[10, 20, 30, 40, 50, 100, 500]
132022941366208

#Python Comments

Comments can be used to explain Python code.


Comments can be used to make the code more readable.


Comments can be used to prevent execution when testing code.

#Creating a Comment
Comments starts with a #, and Python will ignore them:

In [46]:
#This is a comment
print("Hello, World!")

Hello, World!

#Comments can be placed at the end of a line, and Python will ignore the rest of the line:

In [47]:
print("Hello, World!") #This is a comment

Hello, World!

#Multiline Comments
Python does not really have a syntax for multiline comments.

To add a multiline comment you could insert a # for each line:

In [48]:
#This is a comment
#written in
#more than just one line
print("Hello, World!")

Hello, World!

In [49]:
"""
This is a comment
written in
more than just one line
"""
print("Hello, World!")

Hello, World!

In [50]:
'''
This is a comment
written in
more than just one line
'''
print("Hello, World!")

Hello, World!

In [54]:
line="""My name is harry
working in canada
Belongs line"""
print(line)

My name is harry
working in canada
Belongs line

In [56]:
line='''My name is harry
working in canada
Belongs line'''
print(line)

My name is harry
working in canada
Belongs line

In [57]:
name=("Sharry")
print(type(name))

<class 'str'>

In [58]:
name=("Sharry")
print(name[0])
print(name[1])
print(name[2])
print(name[3])
print(name[4])
print(name[5])

S
h
a
r
r
y

In [59]:
name=("Sharry")
print(name[-5])
print(name[-4])
print(name[-3])
print(name[-2])
print(name[-1])
print(name[-0])

h
a
r
r
y
S

In [60]:
print(type(name[0]))

<class 'str'>